html, body {

	height: 100%;

	margin: 0;

}

body.ui-mobile-viewport{
	background-color: #f7f5e6;
	color: black;
}

body.ui-overlay-a{
	text-shadow: none;
}



nav{

position: relative;

margin-bottom: 20px;

}



.navbar{

	position: relative;

	display: block;

	width: 100%;

	height: 8em;

	background: #FF5D00;

}



.nav-icon-left{

float: left;

	height: 5em;

	width: 5em;

	margin: 1.5em;

	display: inline-block;
	color: white;
}



.nav-icon-right{

	float: right;

	height: 5em;

	width: 5em;

	margin: 1.5em;

	display: inline-block;
	color: white;

}



#swap{

	height: 8em;

	width: 8em;

	background: #fef67f;

	position: absolute;

	left: 50%;

	margin-left: -4em;

	top: 2.5em;

	border-radius:8em;

	font-size: 20px;

	color: white;

	line-height: 100px;

	text-align:center;

	z-index: 1;

}

#swap i{
	margin-top: 0.3em;
}



#infoCard{

	margin: 2em;

	height: 60%;

	clear: both;

}



.middle{

	width: 100%;

	min-height: 80%;

}



.bottom{

	margin-top: 1em;

}



.selector{

	width: 48%;

	min-height: 8em;

	display: inline-block;

	background: purple;
	border: 1px solid white;
	border-radius: 2em;

}



.selector_pic img{

	float: left;

	height: 5em;

	width: 5em;

	border-radius: 5em;

	background: white;

	margin: 1.5em;

	display: inline-block;

}



.selector_title{

	display: inline-block;

	line-height: 1.5 em;

	font-size: 1.2 em;

	float: left;

	margin-top: 1.5em;
	color: white;
	font-family: 'Lato', sans-serif;

}



.banner{

	width: 100%;

	position: relative;



}



.hearts{
position: absolute;
z-index: 2;
margin: 1em;
margin-left: 80%;
height: 4em;
width: 4em;
border-radius: 4em;

opacity: 0.5;
}



#text{

	padding: 1em;

	display: inline-block;
	font-family: 'Lato', sans-serif;

}



#more{

	width: 10%;

	display: inline-block;

	color: #FF5D00;
	padding: 1em;

}



#title{

	line-height: 2em;

	padding-bottom: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2em;

}



.copy{

	display: inline-block;

	width: 80%;

	margin-left: 2em;

}

#settings, #question{
	display: none;
}

.fa{
	size: ;
}
/**
 * Dont remove this
 */

.selector_pic img {
    max-width: 5em;
}